In [1]:
!pip install langchain_community

Requirement already satisfied: langchain_community in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (0.2.15)
Requirement already satisfied: PyYAML>=5.3 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from langchain_community) (6.0.2)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from langchain_community) (2.0.32)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from langchain_community) (3.10.5)
Requirement already satisfied: dataclasses-json<0.7,>=0.5.7 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from langchain_community) (0.6.7)
Requirement already satisfied: langchain<0.3.0,>=0.2.15 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from langchain_community) (0.2.15)
Requirement already satisfied: langchain-core<0.3.0,>=0.2.37 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from langchain_community) (0.2.37)
Requirement already satisfied: langsmith<0.2.0,>=0.1.0 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from langchain_community) (0.1.108)
Requirement already satisfied: numpy<2,>=1 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from langchain_community) (1.26.4)
Requirement already satisfied: requests<3,>=2 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from langchain_community) (2.32.3)
Requirement already satisfied: tenacity!=8.4.0,<9.0.0,>=8.1.0 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from langchain_community) (8.5.0)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (2.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (24.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.9.6)
Requirement already satisfied: marshmallow<4.0.0,>=3.18.0 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from dataclasses-json<0.7,>=0.5.7->langchain_community) (3.22.0)
Requirement already satisfied: typing-inspect<1,>=0.4.0 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from dataclasses-json<0.7,>=0.5.7->langchain_community) (0.9.0)
Requirement already satisfied: langchain-text-splitters<0.3.0,>=0.2.0 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from langchain<0.3.0,>=0.2.15->langchain_community) (0.2.2)
Requirement already satisfied: pydantic<3,>=1 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from langchain<0.3.0,>=0.2.15->langchain_community) (2.8.2)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from langchain-core<0.3.0,>=0.2.37->langchain_community) (1.33)
Requirement already satisfied: packaging<25,>=23.2 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from langchain-core<0.3.0,>=0.2.37->langchain_community) (24.1)
Requirement already satisfied: typing-extensions>=4.7 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from langchain-core<0.3.0,>=0.2.37->langchain_community) (4.12.2)
Requirement already satisfied: httpx<1,>=0.23.0 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from langsmith<0.2.0,>=0.1.0->langchain_community) (0.27.2)
Requirement already satisfied: orjson<4.0.0,>=3.9.14 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from langsmith<0.2.0,>=0.1.0->langchain_community) (3.10.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from requests<3,>=2->langchain_community) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from requests<3,>=2->langchain_community) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from requests<3,>=2->langchain_community) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from requests<3,>=2->langchain_community) (2024.8.30)
Requirement already satisfied: anyio in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from httpx<1,>=0.23.0->langsmith<0.2.0,>=0.1.0->langchain_community) (4.4.0)
Requirement already satisfied: httpcore==1.* in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from httpx<1,>=0.23.0->langsmith<0.2.0,>=0.1.0->langchain_community) (1.0.5)
Requirement already satisfied: sniffio in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from httpx<1,>=0.23.0->langsmith<0.2.0,>=0.1.0->langchain_community) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from httpcore==1.*->httpx<1,>=0.23.0->langsmith<0.2.0,>=0.1.0->langchain_community) (0.14.0)
Requirement already satisfied: jsonpointer>=1.9 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from jsonpatch<2.0,>=1.33->langchain-core<0.3.0,>=0.2.37->langchain_community) (3.0.0)
Requirement already satisfied: annotated-types>=0.4.0 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from pydantic<3,>=1->langchain<0.3.0,>=0.2.15->langchain_community) (0.7.0)
Requirement already satisfied: pydantic-core==2.20.1 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from pydantic<3,>=1->langchain<0.3.0,>=0.2.15->langchain_community) (2.20.1)
Requirement already satisfied: mypy-extensions>=0.3.0 in /Users/vinayakpawar/anaconda3/envs/ai/lib/python3.11/site-packages (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain_community) (1.0.0)

In [2]:
from langchain_community.llms import Ollama

In [3]:
llm = Ollama(model="llama3.1")
llm.invoke("The Country Where Guinness is from...")

"You're thinking of Ireland!\n\nGuinness is indeed a iconic Irish stout beer that originated in Dublin, Ireland. The company was founded by Arthur Guinness in 1759 and has since become one of the most recognizable and beloved beers around the world.\n\nIreland, where the emerald hills meet the blue sky, and a pint of Guinness awaits at every pub!\n\nDid I get it right?"

In [4]:
# Read the Transaction Data 

import pandas as pd
df = pd.read_csv("bank_transactions.csv")
df.head()

         Date            Name  Expense  Amount
0  2023-04-26  Salary Deposit   Income  592.04
1  2024-04-05  Salary Deposit   Income  397.03
2  2023-07-23  Salary Deposit   Income  159.08
3  2024-10-30   Water Utility  Expense  391.51
4  2023-05-24  Salary Deposit   Income  527.63

In [5]:
# Get unique transaction in the Name/Description column

unique_transactions = df["Name"].unique()
len(unique_transactions)

26

In [6]:
unique_transactions[1:26]

array(['Water Utility', 'Spotify', 'Kroger', 'Misc Income',
       'Gym Membership', 'Target', 'Netflix', 'Apple Store', 'Uber',
       'Starbucks', 'Home Depot', 'Internet Provider', 'Walgreens',
       'Costco', 'Amazon', 'Phone Company', 'Best Buy',
       'Electric Company', 'Walmart', 'CVS Pharmacy', 'Rent Payment',
       "McDonald's", 'Car Insurance', 'Health Insurance', 'Shell Gas'],
      dtype=object)

### To get Most Optimal Tokenized Response we will feed only 30 unique transactions at a time.

In [21]:
response = llm.invoke("Can you add an appropriate category next to each of the following expenses. Respond with a list of categories separated by commas. For example, Spotify - \
Entertainment, Water Utility - Waterbill, Kroger - Shopping, Misc Income - Income, Gym Membership - Fitness, Target - Shopping, Netflix - Entertainment, Apple Store - Shopping, Uber - Taxi, Starbucks - Coffee, Home Depot - Shopping, Internet Provide - Internet Bill, Walgreens - Shopping, Costco - Shopping, Amazon - Shopping, Phone Company - Phonebill, Best Buy - Electronic shopping, Electric Company - ElectricBill, Walmart - Shopping, CVS Pharmacy - Pharmaceutical Shopping, Rent Payment - HouseRent, McDonald's - Takeout, Car Insurance - CarBill, Health Insurance - HealthBill, Shell Gas - Fuel etc.: \
"+",".join(unique_transactions[1:30]))

In [8]:
def hop(start, stop, step):
    for i in range(start, stop, step):
        yield i
    yield stop 

index_list = list(hop(0,len(unique_transactions), 30000))
index_list

[0, 26]

In [9]:
def categorize_transaction(transaction_names, llm):
    response = llm.invoke("can you categorize the transactions to the expense. For Example: 'Water Utility' - Waterbill, 'Spotify'- Entertainment, 'Kroger' - Groceries, 'Misc Income' - Income etc.:" + ",".join(unique_transactions[1:30]))
    response = response.split('\n')

    print(response)
    
    # Creating a dataframe
    categories_df = pd.DataFrame({'Transaction vs category': response})
    categories_df[['Transaction', 'Category']] = categories_df['Transaction vs category'].str.split(' - ', expand=True)
    
    return categories_df

In [10]:
categorize_transaction('Starbucks, Home Depot, Internet Provider, Walgreens',llm)

['Here are the categorized transactions:', '', '* **Rent and Utilities:**', '\t+ Water Utility (Waterbill)', '\t+ Electric Company', '\t+ Internet Provider', '* **Groceries:**', '\t+ Kroger', '\t+ Costco', '\t+ Target', '\t+ Walmart', '\t+ CVS Pharmacy', '* **Entertainment:**', '\t+ Spotify', '\t+ Netflix', '\t+ Apple Store', '\t+ Best Buy', '\t+ Home Depot (for DIY projects/hobbies)', '\t+ Shell Gas (assuming for road trips/travel)', '* **Income:**', '\t+ Misc Income', '* **Transportation:**', '\t+ Uber', '\t+ Car Insurance', '\t+ Phone Company (assuming for phone plan)', '* **Health and Wellness:**', '\t+ Gym Membership', '\t+ Health Insurance', '* **Shopping:**', '\t+ Amazon', '\t+ Best Buy', '\t+ Home Depot', '* **Food and Drink:**', '\t+ Starbucks', "\t+ McDonald's"]

ValueError: Columns must be same length as key

In [19]:
import pandas as pd

def categorize_transaction(transaction_names, llm):
    # Prompt the language model
    response = llm.invoke(
        "Can you add an appropriate category next to each of the following expenses. "
        "Respond with a list of categories separated by commas. For example, "
        "Spotify - Entertainment, Water Utility - Waterbill, Kroger - Shopping, Misc Income - Income, "
        "Gym Membership - Fitness, Netflix - Entertainment, Uber - Taxi, Electric Company - Electric Bill etc.: "
        + transaction_names
    )
    
    # Split the response by lines
    response_lines = response.split('\n')

    # Prepare lists to store the values
    combined_list = []
    transactions = []
    categories = []

    # Iterate over the lines and look for valid "Transaction - Category" pairs
    for line in response_lines:
        line = line.strip()  # Remove any leading/trailing whitespace
        if ' - ' in line:  # Check if line contains the expected separator
            combined_list.append(line)
            transaction, category = line.split(' - ', 1)  # Split only once
            transactions.append(transaction.strip())
            categories.append(category.strip())
        else:
            combined_list.append(line)
            transactions.append(None)
            categories.append(None)

    # Create a DataFrame with the extracted information
    categories_df = pd.DataFrame({
        'Transaction vs category': combined_list,
        'Transaction': transactions,
        'Category': categories
    })

    return categories_df

# Example usage
transaction_names = 'Starbucks, Home Depot, Internet Provider, Walgreens, Costco, Amazon, Phone Company, Best Buy, Walmart, CVS Pharmacy, Rent Payment, McDonald\'s, Car Insurance, Health Insurance, Shell Gas'
categories_df = categorize_transaction(transaction_names, llm)
print(categories_df)

                             Transaction vs category Transaction  \
0            Here is the list with added categories:        None
1                                                           None
2  Starbucks - Food & Dining, Home Depot - Home I...   Starbucks

                                            Category
0                                               None
1                                               None
2  Food & Dining, Home Depot - Home Improvement, ...

In [20]:
import pandas as pd
from IPython.display import display

# Set pandas options to show all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Use display to show the DataFrame
display(categories_df)

,Transaction vs category,Transaction,Category
0,Here is the list with added categories:,None,None
1,,None,None
2,"Starbucks - Food & Dining, Home Depot - Home I...",Starbucks,"Food & Dining, Home Depot - Home Improvement, ..."